@CHARSET "UTF-8";


.plgSmugMugRandom {
}


.plgSmugMugRandomLine {
 clear: both;
 margin-bottom: 2px;
}

.plgSmugMugRandomItem {
 margin-left: 2px;
 float: left;
}

.plgSmugMugRandomLink {
 clear: both;
 font-size: 11px;
 font-style: italic;
 color: gray;
 float: center;
}